.text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & .text-block-horizontal-line.half {
        width: 50%;
    }

    & .text-block-content {
        font-size: 14px;
        line-height: 20px;

        &.font-weight-bold {
            font-weight: bold;
        }

        &.font-weight-normal {
            font-weight: normal;
        }
    }
}



