#yourDriver {
  padding: 2rem 2rem;
  position: relative;

  // Mobile-screen
  @media (max-width: 767px) {
    height: calc(100% - 4rem - 6.5rem);
  }

  & .driver-image {
    width: 100%;

    // Mobile-screen
    @media (max-width: 767px) {
      transform: scale(1.8);
      max-height: 12.5rem;
      object-fit: cover;
      object-position: top;
    }

    // Web-screen
    @media (min-width: 768px) {
      transform: scale(1);
      max-height: 25rem;
      object-fit: cover;
      object-position: 0 25%;
    }
  }

  & .driver-description-title {
    @media (max-width: 767px) {
      margin-top: 6.5rem;
    }
  }

  & .your-driver-cancel-button {
    // Mobile-screen
    @media (max-width: 767px) {
      position: absolute;
      bottom: 0;
      width: 85%;
    }

    // Web-screen
    @media (min-width: 768px) {
      margin-top: 2rem;
    }
  }
}
