#yourVehicle {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;

  & .vehicle-image {
    // Mobile-screen
    @media (max-width: 767px) {
      margin-top: 3rem;
      max-height: 12.5rem;
      object-fit: cover;
      object-position: top;
    }

    // Web-screen
    @media (min-width: 768px) {
      transform: scale(.5);
      height: 25rem;
      align-self: center;
    }
  }

  & .your-vehicle-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5rem;
  }

  & .your-vehicle-cancel-button {
    margin-top: 2rem;
  }
}
