#yourVibe {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  position: relative;

  // Mobile-screen
  @media (max-width: 767px) {
    height: calc(100% - 4rem - 6.5rem);
  }

  // Web-screen
  @media (min-width: 768px) {
    height: 46rem;
  }

  & .map-overview {
    // Mobile-screen
    @media (max-width: 767px) {
      object-fit: cover;
      object-position: top;
    }

    // Web-screen
    @media (min-width: 768px) {
      transform: scale(1);
      height: 25rem;
      align-self: center;
    }
  }

  & .your-vehicle-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5rem;
  }

  & .your-vibe-change-button {
    // Mobile-screen
    @media (max-width: 767px) {
      position: absolute;
      bottom: 0;
      width: 85%;
    }

    // Web-screen
    @media (min-width: 768px) {
      margin-top: 2rem;
    }
  }
}
